XamarinReactiveUI/XamarinReactiveUI.Android/obj/
XamarinReactiveUI/XamarinReactiveUI.iOS/bin/
XamarinReactiveUI/XamarinReactiveUI.iOS/obj/
XamarinReactiveUI/XamarinReactiveUI/bin/
XamarinReactiveUI/XamarinReactiveUI/obj/
XamarinReactiveUI/XamarinReactiveUI.Android/bin/
